/* body {
      background: #262626;
	  /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(logo.jpg); */
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    } */
 .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
.swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 320px;
	  background-color:#fff;
    }
.b  {
	
	
	list-style-type:none;
	
}
.b  li{
	float:left;
	width:100px;
	
	display: block;
}
.b  li a{
	color:black;
	border:2px solid transparent;
	transition: 0.6s ease;
	text-decoration:none;
}
.b  li a:hover{
	
	color:white;
	background-color:black;
	opacity:0.7;
	border-radius:5px;
	
}
.swiper-slide .img1{
	
	width:100%;
}
.swiper-slide .details{
	
	box-sizing:border-box;
	padding:20px;
	position:center
	
}
.swiper-slide .details h3{
	
	margin:0;
	padding:0;
	font-size:20px;
	text-align:center;
}